$colors: (pink, yellow, green);

@mixin animation-circle($name, $movingDist) {
  @keyframes #{$name} {
    0%,
    100% {
      transform: translate(#{$movingDist});
    }
    25% {
      transform: translate(#{$movingDist}, #{$movingDist});
    }
    50% {
      transform: translate(0px, #{$movingDist});
    }
    75% {
      transform: translate(0px, 0px);
    }
  }
}

@mixin circle($circleColor) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $circleColor;
}

.circle-container {
  position: relative;
  margin: 400px 0;
  .circle {
    @each $el in $colors {
      $idx: index($colors, $el);
      &:nth-of-type(#{$idx}) {
        @include circle($el);
        @include animation-circle($el, #{100 * $idx}px);
        animation: $el 4s infinite;
      }
    }
  }
}
