.img-container {
  display: flex;
  justify-content: space-around;
  margin: 0px 30px 30px;
  .img {
    width: 320px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(168, 159, 255);
    box-shadow: 3px 5px 10px #6e6e6e;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        background-image: url('../assets/practice#{$i}.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}
