<!DOCTYPE html>
<html lang="ko">
  <%- include('include/header',{title: '메인페이지'}) %>
  <body>
    <h1>로그인/회원가입</h1>
    <a href="/user/signup">회원가입</a>
    <br />
    <a href="/user/signin">로그인</a>
  </body>
</html>
