<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>API</title>
</head>
<body>
  <!-- GET -->
  <h3>GET 전송</h3>
  <form action="/api/res1" method="get">
    이름: <input name="name" type="text">
    <br/>
    나이: <input name="age" type="text">
    <br/>
    <button type="submit">전송</button>
  </form>

  <a href="/api/res2/hyeon">/api/res2/hyeon/</a>
  <br/>
  <a href="/api/res2/hyeon/29">/api/res2/hyeon/29</a>

  <!-- POST -->
  <h3>POST 전송</h3>
  <form action="/api/res3/abc" method="post">
    이름: <input name="name" type="text">
    <br/>
    나이: <input name="age" type="text">
    <br/>
    <button type="submit">전송</button>
  </form>
</body>
</html>