<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Prac02</title>
  <style>
    body * {
      border: 1px solid black;
    }
  </style>
</head>
<body>
<table>
  <thead>
  <th>이름</th>
  <th>나이</th>
  </thead>
  <tbody>
  <tr th:each="person:${people}">
    <td th:text="${person.getName()}"></td>
    <td th:text="${person.getAge()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>