.d-block {
  display: block;
  background-color: powderblue;
  border: 1px solid cornflowerblue;
  width: 100px;
  height: 100px;
  padding: 15px;
  margin: 20px;
}

.d-inline {
  display: inline;
  background-color: peachpuff;
  width: 1000px;
  height: 200px;
  /* padding: 15px;
    margin: 20px; */
}

.d-inline-block {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: lightpink;
  border: 1px solid violet;
  padding: 15px;
  margin: 20px;
}

.parent {
  width: 500px;
  height: 200px;
  background-color: lightseagreen;
}

.parent > .min {
  min-width: 400px;
  height: 100px;
  background-color: lightsalmon;
}

.parent > .max {
  max-width: 400px;
  height: 100px;
  background-color: slateblue;
}

.box {
  background-color: lavenderblush;
  border: 1px solid darkcyan;
}

.box-px {
  width: 50px;
  height: 50px;
}

.box-view {
  width: 50vw;
  height: 50vh;
}

.box-per {
  width: 50%;
  /* height: 50%; */
}

.rem {
  font-size: 2rem;
  /* root 요소의 font-size 값을 기준으로 함 (즉 최상위 요소 <html>의 font-size) */
  /* 1rem은 16px */
}

.em {
  /* 현재 사용되는 요소의 font-size 값을 기준으로 함 (지정된 값이 없을 경우 부모 요소의 속성값 기준) */
  font-size: 2em;
}

.square {
  display: inline-block;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-color: plum;
}

.border {
  background-color: lemonchiffon;
  /* 굵기 모양 색깔 */
  /* border: 3px solid lightsteelblue; */
  border-color: lightsteelblue lightsalmon lightseagreen lightpink;
  border-style: dotted;
  border-width: 3px;
  border-right-width: 5px;
}

.rounded {
  background-color: lightsalmon;
  /* 모서리 끝을 기준으로 px 값만큼 대각선 안쪽으로 들어옴 */
  /* border-radius: 30px; */
  /* border-radius: 5px 10px 20px 40px; */
  border-radius: 5px 20px 40px;
}

.box-sizing {
  padding: 20px;
  border: 15px solid cadetblue;
  background-color: peachpuff;
}

.content-box {
  box-sizing: content-box;
}

.border-box {
  box-sizing: border-box;
}

.d-none {
  /* 자리, 모습, 속성 전부 사라짐 */
  display: none;
  background-color: red;
}
.invisible {
  /* 자리는 남겨두고 모습과 속성만 사라짐 */
  visibility: hidden;
  background-color: orangered;
}
.opacity-0 {
  /* 투명화, 자리와 속성은 남겨두고 모습만 사라짐 */
  opacity: 0;
  /background-color: tomato;
}

.practice {
  width: 200px;
  height: 200px;
  background-color: royalblue;
}

.practice:hover {
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-visible {
  overflow: visible;
}
