div {
  width: 800px;
  height: 500px;
  background-color: powderblue;
}

.item1 {
  background-image: url("./img/ryan.png");
  background-repeat: repeat-x;
}

.item2 {
  background-image: url("./img/ryan.png");
  background-size: contain;
  background-position: left 100px top 30px;
}

.item3 {
  background-image: url("./img/ryan.png");
  background-size: cover;
  background-position: 20%;
}
