form {
  width: 500px;
}
label {
  display: inline-block;
  width: 100px;
  height: 32px;
  line-height: 32px;
  font-weight: 700;
}
input {
  width: 240px;
  height: 32px;
  line-height: 32px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  border-bottom: 1px solid lightgrey;
}
button {
  width: 100px;
  height: 32px;
  line-height: 32px;
  margin: 5px;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
button[type='reset'] {
  background-color: indianred;
}
button[type='submit'] {
  background-color: lightseagreen;
}
button:hover {
  cursor: pointer;
  background-color: lightgrey;
}
